:host {
  display: flex;
  flex-direction: column;
  gap: calc(var(--s-icon-button-height) + var(--s-content-gap));
  scroll-behavior: smooth;
}
.filler-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  user-select: none;
  & .placeholder-buttons {
    max-width: 60%;
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    justify-content: center;
  }
}
