main {
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  padding: 1rlh;
  position: relative;
}

.content,
.chat-container {
  width: 100%;
  max-width: var(--s-content);
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-bottom: var(--p-content-b);
  background: pink;
}

.chat-container {
  position: fixed;
  bottom: var(--s-chat-container-offset);
  background: blue;
  padding: var(--p-chat-container-v) 16px;
}

.sp {
  width: 100%;
  height: 50px;
  background: red;
  margin: 0 0 20px;
}
