main {
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  padding: 1rlh;
  position: relative;
}

.content,
.chat-container {
  width: 100%;
  max-width: var(--s-content);
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-bottom: var(--p-content-b);
  background: pink;
}

.chat-container {
  position: fixed;
  bottom: var(--s-chat-container-offset);
  padding: var(--p-chat-container-v) 16px;
  padding-top: calc(var(--p-chat-container-v) - var(--p-textarea-v));
  background: var(--c-l2);
  border-radius: var(--border-radius);
  outline-width: var(--s-stroke);
  outline-style: solid;
}

.chat-container textarea {
  width: 100%;
  color: var(--c-text);
  background: transparent;
}

.chat-container textarea::placeholder {
  color: var(--c-text-faded);
}

.sp {
  width: 100%;
  height: 50px;
  background: red;
  margin: 0 0 20px;
}

@media (max-width: 700px) {
  .chat-container {
    border-radius: 0;
    bottom: 0;
  }
}
