:root {
  /* text styles */
  --f-primary: InterVariable;
  --f-code: JetBrainsMono;
  /* colors */
  --c-l0: #000000;
  --c-l1: #1b1b1b;
  --c-l2: #0e0e0e;
  --c-text: #fff;
  --c-text-faded: #777;
  --c-stroke: #191919;
  --c-accent-l0: #fff;
  --c-accent-text: #000;
  /* gradients */
  --grad-overlay: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgb(0, 0, 0));
  /* sizes */
  --s-font: 16px;
  --s-content: 700px;
  --s-stroke: 1px;
  --s-chat-container-offset: 20px;
  --s-button-gap: 4px;
  /* paddings */
  --p-button-v: 3px;
  --p-button: var(--p-button-v) 11px;
  --p-chat-container-v: 14px;
  --p-textarea-v: 5px;
  --p-content-b: calc(
    1rlh * (var(--textarea-lines-min) + 2)
      /* extra line for buttons and main padding */ +
      var(--p-chat-container-v) * 2 + var(--p-button-v) * 2 +
      var(--s-chat-container-offset)
  );
  /* misc */
  --textarea-lines-min: 2;
  --textarea-lines-max: 4;
  --border-radius: 16px;
  --transition: 0.1s ease-out;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: hsla(var(--c-stroke) / 35%) transparent;
  outline-color: var(--c-stroke);
}

html {
  color: var(--c-text);
  font-size: var(--s-font);
  line-height: 1.15;
}

body {
  background: var(--c-l0);
}

textarea {
  white-space: pre-wrap;
  border: none;
  outline: none;
  resize: none;
  overflow: hidden;
}

button {
  background: none;
  border: none;
  outline-width: var(--s-stroke);
  outline-style: solid;
  border-radius: var(--border-radius);
  color: var(--c-text-faded);
  padding: var(--p-button);
  cursor: pointer;
  transition:
    color var(--transition),
    outline-color var(--transition);
  display: flex;
  align-items: center;
  gap: var(--s-button-gap);
}

button:hover {
  color: var(--c-text);
  outline-color: var(--c-text);
}

button.active {
  outline-color: var(--c-accent-l0);
  background: var(--c-accent-l0);
  color: var(--c-accent-text);
}

button:disabled {
  opacity: 0.4;
  cursor: not-allowed;
  /* todo override hover */
}

/* components */
textarea.autosize {
  padding: var(--p-textarea-v) 0;
  height: calc(var(--textarea-lines-min) * 1rlh + var(--p-textarea-v) * 2);
  max-height: calc(var(--textarea-lines-max) * 1rlh);
}
